<!--cabecera, este codigo es comun para todas-->
<head>
  <title>{{ page.title | site.title }}</title>
  <meta charset="UTF-8" /><!-- Etiquetas meta para los navegadores-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="EL molino museo">
  <meta name="keywords" content="HTML, CSS, JavaScript, museo, molino, frades, salamanca">
  <meta name="author" content="Roberto Leon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

</head>